*-bak
*.o
*.DS_Store
*.bin
*.lst
RaspberryPi/apple2driver/apple2driver
RaspberryPi/Apple2-IO-RPi.log
RaspberryPiPico/build/
Hardware/Apple2IORPi-backups/
RaspberryPiPico/Apple2-IO-RPi.*
RaspberryPiPico/CMakeCache.txt
RaspberryPiPico/CMakeFiles/
RaspberryPiPico/Makefile
RaspberryPiPico/_deps/
RaspberryPiPico/cmake_install.cmake
RaspberryPiPico/elf2uf2/
RaspberryPiPico/generated/
RaspberryPiPico/pico-sdk/
RaspberryPiPico/pioasm/
